.highlight {
  margin: 4.375rem 2rem 0;
  max-width: 100%;

  .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;

    strong {
      color: var(--font);
      position: relative;
      &::after {
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        bottom: 1px;
        right: -3px;
        height: 7px;
        width: calc(100% + 6px);
        background: var(--secondary);
      }
    }
  }

  .sliderContainer {
    max-width: 1600px;
    margin: 0 auto;
  }

  @media only screen and (max-width: 500px){
    margin: 4.375rem 0 0;
  }
}

