.header {
  @media only screen and (max-width: 1049px) {
    max-height: 68px;
    .logo {
      width: 84px;
      height: 45px;
    }

    .text {
      display: none;
    }

    padding: 15px 20px 8px 12px;
  }

  width: 100%;
  padding: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
  background: var(--primary);


  .menuContainer {
    display: flex;
    gap: 12px;
    height: 100%;
    align-items: center;

    .logo {
      cursor: pointer;
    }
  } 

  .userContent {
    display: flex;
    gap: 1.5rem;
    .link {
      cursor: auto;
      background: transparent;
      border: none;

      .content {
        width: 100%;
        display: flex;
        justify-content: center;

        .circle {
          cursor: pointer;
          background: var(--secondary);
          border-radius: 50%;
          width: 42px;
          height: 41px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      span {
        cursor: pointer;
        font-size: 10px;
        font-weight: 700;
        line-height: 12px;
        text-align: left;
        color: var(--white);
      }
    }
  }
}