.sliderContainer {
  @media only screen and (max-width: 1049px) {
    margin-top: 1.5rem;
  }

  @media only screen and (max-width: 850px) and (min-width: 541px){
    margin-top: 1.5rem;
    max-height: 300px;
    .link {
      width: 100px;
    }
  }
  @media only screen and (max-width: 540px){
    margin-top: 1.5rem;
    max-height: 300px;
    .link {
      .image {
        width: 80%;
        height: 95%;
        object-fit: cover;
        object-position: center top;
        display: block;
        margin: 0 auto;
      }
    }
  }

  margin-top: 1.5rem;
  width: 100%;
  max-height: 380px;
  margin: 0 auto;

  .link {
    width: 200px;
  }

  .image {
    max-height: 300px;
    width: 100%;
    object-fit: scale-down;
  }
}

.center {
  transform: scale(1.5);
}